
@{
    ViewData["Title"] = "About";
}

<h1>About moi</h1>
@{

    int dogAgeInDogYears = 308, ratio = 7;
    int age = dogAgeInDogYears / ratio;

}
<p>Name: Mr MacQuotie<br /> Age: @age years.. or is that 44 as in dog years? Cant remember</p>

