
@{
    ViewData["Title"] = "Contact";
}

<h1>How to reach me</h1>
<ul>
    <li>World of Warcraft:&ensp; Nethermore</li>
    <li>Overwatch:&ensp; Kanelbulle</li>
    <li>Email:&ensp; elonmusk@spacex.com</li>
</ul>

