@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        “It’s time to kick ass and chew bubble gum…and I’m all outta
        gum.”<br />
             <em><b>Duke Nukem</b></em>
    </h1>
   </div>
